body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,p{
    text-align: center;
}

h1{
    color: #00a19c;
}

img{
    max-width: 100%;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    height: 55vh;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}